* {
    box-sizing: border-box;
  }

  .highscores {
    font-size: xx-large;
  }

  section {
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
    margin: auto;
  }

.hidden-nav {
    display: flex;
    justify-content: space-between;
    padding: 15px;
    background: #dcd10e;
    color: #fff;
    /* display: none; */
  }

  #introText {
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
}

.intro {
    flex-wrap: wrap;
    text-align: center;
    font-size: xx-large;
    color: turquoise;
}

button {
  color: white;
  background-color: purple;
  font-size: 30px;
}



.hidden {
  display: none;
  flex-direction: column;
}